@import '../../../assets/variables.scss';

.wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;

    @extend %border-color;
    border-radius: 8px;
    padding: 20px 30px;

    &::placeholder {
        font-size: 20px;
    }

    &:hover {
        outline: none;
        @extend %border-color-hover;
    }
}